.App {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #333333;
  display: flexbox;
}
.areas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  gap: 20px;
}
.large-area {
  height: 100%;
  padding: 20px;
  width: 100vh;
  box-sizing: border-box;
  color: #aaaaaa;
  background: #444444;
  border-radius: 10px;
}
.buttons {
  display: flex;
  justify-content: center;
}
.button-fm {
  cursor: pointer;
  background-color: #009578;
  outline: none;
}
.button-cl {
  cursor: pointer;
  background-color: tomato;
  outline: none;
}
.button-fm:active {
  background-color: #00705a;
}
.button-cl:active {
  background-color: red;
}
